@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.login{
  grid-template-columns: 44.5% 55.5%;
}

button{
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
}