<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercice pratique d'entretien - Studio Meta</title>
    <link href="/dist/assets/index-kZEh3a9x.css" rel="stylesheet">
    <script src="/dist/output.js" defer></script>
</head>
<body>
    <main>
        {% block content %}
            
        {% endblock %}
    </main>
</body>
